h1 {
    color:#4B088A;
    font-size: 38px;
    font-variant: small-caps;
    font-weight:bold;
    vertical-align: middle;
    letter-spacing:1px;
    text-decoration:overline;
    text-align: center;
    word-spacing: 1px;
}
#page-wrap{
    background-color: #FF4000;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: inset;
    border-color: #4B088A ;
}
#compare-text{
    color: black;
    font-size: 25px;
    font-stretch: semi-expanded;
}
