h1 {
    color:#610B38;
    font-size: 45px;
    font-variant: small-caps;
    font-weight:bold;
    vertical-align: middle;
    letter-spacing:1px;
}
#page-wrap{
    background-color: #FF4000;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
}
#compare-text{
    color: black;
    font-size: 25px;
    font-stretch: semi-expanded;
}
