h1 {
    color:white;
    font-size: 38px;
    font-variant: small-caps;
    font-weight:bolder;
    vertical-align: middle;
    letter-spacing:1px;
    text-align: center;
    word-spacing: 5px;
    text-shadow: #000 -1px -1px 0;
}
#page-wrap{
    background-color: black;
    border-color:#136400;
    border-style: outset;
    border-width: 8px;
    margin: 0 auto;
    padding: 10px;
}
#compare-text{
    color: black;
    font-size: 25px;
    font-stretch: semi-expanded;
}
