h1 {
    color:white;
font-family: Spinnaker;
	font-size: 38px;
	font-style: normal;
	line-height: 26.4px;    
	font-variant: small-caps;
    font-weight:bolder;
    vertical-align: middle;
    letter-spacing:1px;
    text-align: center;
    word-spacing: 5px;
    text-shadow: #000 -1px -1px 0;
}
#page-wrap{
    background-color: #2E2E2E;
    border-color:#136400;
    border-style: groove;
    border-width: 8px;
    margin: 0 auto;
    padding: 10px;
}
#compare-text{
    color: black;
    font-size: 25px;
    font-stretch: semi-expanded;
}
