h1 {
    color:red;
    font-size: 45px;
}
#page-wrap{
    background-color: white;
    border-color:#136400;
    border-style: outset;
    border-width: 10px;
    margin: 0 auto;
    padding: 10px;
}
#compare-text{
    color: black;
    font-size: 25px;
    font-stretch: semi-expanded;
}
